<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  
  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/base.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/customize.css" | relative_url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Roboto:300,regular,500","Roboto Condensed:300,regular,700","Roboto Slab:300,regular,700","Arbutus Slab:regular"]
      }
    });
  </script>
  <script src="{{ "/assets/js/modernizr.js" | relative_url }}" type="text/javascript"></script>
  <link href="{{ "/assets/favicon.ico" | relative_url }}" rel="shortcut icon" type="image/x-icon">
  
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58ac736aec741d001187f395&product=sticky-share-buttons"></script>
</head>
